body{
    width: 100%;
    height: 100vh;
    background-image: url("/src/images/Pink_Flavour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-top{
    width: 100vw;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
}

.footer-top{
    display: flex;
    align-items: center;
}

#footer-top-left-text{
    font: normal 30pt Evil Empire, sans-serif;
    color: white;
    text-align:left;
    padding-left: 50px;
    text-decoration: none;
}

#footer-top-login{
    font: normal 20pt Evil Empire, sans-serif;
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
    text-decoration: none;
    transition: transform 0.1s ease;
}

#footer-top-login:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

.content-donwnload-page{
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-download-page-text{
    margin-top: 200px;
    text-align: center;
    font: normal 50pt Arial;
    color: white;
    font-weight: 600;
}

#content-download-page-text{
    animation: fadeInMove 2s ease-in-out forwards;
}
@keyframes fadeInMove{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

#content-download-page-text-highlighted{
    color: rgb(255, 2, 141);
}

.footer-bottom{
    width: 100vw;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font: normal 10pt Arial;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    color: aliceblue;
}