body{
    width: 100%;
    height: 100vh;
    background-image: url("/images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

#footer-top{
    width: 100vw;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
}

/*
#footer-top{
    background-image:url("/images/musica.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 30px center;
    display: flex;
    justify-content: center;
}*/

#footer-top{
    display: flex;
    align-items: center;
}

#footer-top-left-text{
    font: normal 30pt Evil Empire, sans-serif;
    color: white;
    text-align:left;
    padding-left: 50px;
    text-decoration: none;
}

#footer-top-login{
    font: normal 20pt Evil Empire, sans-serif;
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
    text-decoration: none;
    transition: transform 0.1s ease;
}

#footer-top-login:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}

#main-content-text1{
    font: normal 20pt Arial;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

#main-content2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 60vh;
}

#main-content2-text2{
    text-align: center;
    font: normal 35pt Arial;
    font-weight: 600;
    color: white;
}