body{
    width: 100%;
    height: 100vh;
    background-image: url("/images/site_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-top{
    width: 100vw;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
}

.footer-top{
    display: flex;
    align-items: center;
}

#footer-top-left-text{
    font: normal 30pt Evil Empire, sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

#user-profile-ico-wouser{
    width: 60px;
    height: 60px;
    text-align: right;

}

#user-profile{
    text-align: right;
    margin-left: 1075px;
    margin-right: 50px;
}

/*AUDIO STYLING*/

.main-content-site{
    display: flex;
    align-items: center;
    justify-content: center;
}

.player1{
    width: 700px;
    height: 300px;
    text-align: right;
    border-radius: 10px;
    background-color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgb(73, 73, 73);
}
.album-conteiner-player1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}


#name-player1{
    padding-top: 20px;
    font: normal 12pt Arial;
    font-weight: 600;
}

.in-player1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}

#audio-progress-player1{
    width: 350px;
    height: 40px;
}

#play-button-player1{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgb(106, 138, 226);
    margin-top: 20px;
    cursor: pointer;
    font: normal 10pt arial;
    font-weight: 600;
}

#play-button-player1:active{
    transform: scale(0.99);
}

#pause-button-player1{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgb(106, 138, 226);
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    font: normal 10pt arial;
    font-weight: 600;
}

#pause-button-player1:active{
    transform: scale(0.99);
}